<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input type="text" name="bno" th:value="${todoDTO.bno}">
<input type="text" name="title" th:value="${todoDTO.title}">
<input type="text" name="content" th:value="${todoDTO.content}">
<input type="date" name="dueDate" th:value="${todoDTO.dueDate}">
<input type="text" name="finished" th:value="${todoDTO.finished}">
<input type="text" name="memberID" th:value="${todoDTO.memberID}">
<button type="button">
    <a th:href="@{/test02/modify(bno=${todoDTO.bno})}">modify</a>
</button>
<button type="button" class="modifyBtn">modify2</button>
<script th:inline="javascript">
    $(".modifyBtn").click(function (){
        location.href="/test02/modify"
    })
</script>

</body>
</html>